.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  
  .profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
  }
  
  .profile-info {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust column width as needed */
    gap: 10px; /* Add gap between grid items */
  }
  
  .profile-info p {
    margin: 0; /* Remove default margin */
    padding: 10px; /* Add padding for spacing within each cell */
    border: 1px solid #ccc; /* Add border around each cell */
    border-radius: 5px; /* Add border radius for rounded corners */
  }
  
  .profile-info h3 {
    margin: 10px 0; /* Add margin to separate h3 from other elements */
  }
    .round-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    border: 4px solid #fff; /* Add border around the image */
  }
  
  /* Add hover effect for the profile picture */
  .round-image:hover {
    border: 4px solid #007bff; /* Change border color on hover */
  }
  