navbar.css

.header {
  background-color: #333;
  overflow: hidden;
  position: relative; /* Make the header a positioned container */
}

.header a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: #4CAF50;
  color: white;
}

.search-container {
  position: relative; /* Make the search container a positioned container */
}

.search-container input[type="text"] {
  padding: 14px 16px;
  margin: 0;
  border: none;
  font-size: 16px;
}

.suggestions {
  position: absolute;
  top: 100%; /* Position below the input field */
  left: 0;
  z-index: 1;
  background-color: white;
  border: 1px solid #ddd;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  max-height: 200px; /* Limit the height to prevent overflow */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.suggestions li {
  padding: 12px 16px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #f9f9f9;
}


.suggestions-dropdown {
  position: absolute;
  margin-top: 10px; /* Adjust the top margin to create space below the input field */
  width: calc(100% - 32px); /* Adjust the width of the dropdown */
  max-height: 200px; /* Limit the height to prevent overflow */
  overflow-y: auto; /* Enable vertical scrolling if needed */
  list-style: none;
  padding: 0;
  border: 1px solid #ced4da;
  border-top: none;
  background-color: #fff;
}



.suggestion-item {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  cursor: pointer;
}

.profile-image-small {
  width: 32px; /* Adjust the width of the profile image */
  height: 32px; /* Adjust the height of the profile image */
  margin-right: 8px;
  border-radius: 50%; /* Make the image circular */
}

.bold-username {
  font-weight: bold;
}
